@inherits LayoutComponentBase

<PageTitle>Finance</PageTitle>

<div>
    <main>
        <div class="container-md">
            <article class="content px-4">
                @Body
            </article>
        </div>
    </main>
</div>
